---
import type { StarlightBlogEntry } from '../../../../node_modules/starlight-blog/libs/content.ts';
import type { Locale } from '../../../../node_modules/starlight-blog/libs/i18n.ts';

import BlogI18nControls from '@/components/BlogI18nControls.astro';
import Preview from './Preview.astro';

interface Props {
  entries: StarlightBlogEntry[];
  locale: Locale;
}

const { entries, locale } = Astro.props;
---

<BlogI18nControls routeLocale={locale ?? 'root'} />

<div class="posts" data-pagefind-ignore>
  {entries.map((entry) => <Preview {entry} {locale} />)}
</div>

<style>
  .posts {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
</style>
